# .env.example — copia este fichero como .env y rellena los valores

ORACLE_HOST=ip-o-host-oracle
ORACLE_PORT=puerto-oracle
ORACLE_SERVICE=sid-de-oracle
ORACLE_USER=nombre-bbdd
ORACLE_PASSWORD=password-bbdd